{#
/**
 * @file ejemplo_kdb.html.twig
 * Default theme implementation to present Ejemplo kdb data.
 *
 * This template is used when viewing Ejemplo kdb pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ejemplo_kdb()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ejemplo_kdb') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
